- name: Create CA directory
  become: yes
  command: mkdir {{ easy_rsa_ca_dir }}
  args:
    creates: "{{ easy_rsa_ca_dir }}"
  tags:
    - easy_rsa

- name: Create vars configuration file
  become: yes
  template:
    src: vars.j2
    dest: "{{ easy_rsa_ca_dir }}/vars"
    owner: root
    group: root
    mode: 0644
  tags:
    - easy_rsa

- name: Prep the keys directory
  become: yes
  shell: "/usr/share/easy-rsa/easyrsa init-pki"
  args:
    chdir: "{{ easy_rsa_ca_dir }}"
    creates: "{{ easy_rsa_key_dir }}"
  tags:
    - easy_rsa


- name: Create ca.key
  become: yes
  shell: "/usr/share/easy-rsa/easyrsa --batch build-ca nopass"
  args:
    chdir: "{{ easy_rsa_ca_dir }}"
    creates: "{{ easy_rsa_key_dir }}/private/ca.key"
  tags:
    - easy_rsa

- name: Create server.key
  become: yes
  shell: "/usr/share/easy-rsa/easyrsa --batch --req-cn={{ easy_rsa_key_name }} gen-req {{ easy_rsa_key_name }} nopass"
  args:
    chdir: "{{ easy_rsa_ca_dir }}"
    creates: "{{ easy_rsa_key_dir }}/private/{{ easy_rsa_key_name }}.key"
  tags:
    - easy_rsa

- name: Sign server key
  become: yes
  shell: "/usr/share/easy-rsa/easyrsa --batch sign-req server {{ easy_rsa_key_name }}"
  args:
    chdir: "{{ easy_rsa_ca_dir }}"
    creates: "{{ easy_rsa_key_dir }}/issued/{{ easy_rsa_key_name }}.crt"
  tags:
    - easy_rsa


- name: Generate Diffie-Hellman parameters
  become: yes
  shell: "openssl dhparam -out dh{{ easy_rsa_key_size }}.pem {{ easy_rsa_key_size }}"
  args:
    chdir: "{{ easy_rsa_key_dir }}"
    creates: "{{ easy_rsa_key_dir }}/dh{{ easy_rsa_key_size }}.pem"
  tags:
    - easy_rsa

- name: Generate CRL file
  become: yes
  shell: "/usr/share/easy-rsa/easyrsa gen-crl"
  args:
    chdir: "{{ easy_rsa_ca_dir }}"
    creates: "{{ easy_rsa_key_dir }}/crl.pem"
  tags:
    - easy_rsa

- name: Generate client certificates and keys
  become: yes
  shell: "/usr/share/easy-rsa/easyrsa --batch --req-cn={{ item }} gen-req {{ item }} nopass"
  args:
    chdir: "{{ easy_rsa_ca_dir }}"
    creates: "{{ easy_rsa_key_dir }}/private/{{ item }}.key"
  with_items:
    - "{{ easy_rsa_clients }}"
  tags:
    - easy_rsa
